<div class= "profileComments">
<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{name}}!</h1>
    <h2>Your comments: </h2>
  </div>
</div>


{{#each comments as |comment|}}
<div class="">

</div>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Title: {{title}}</li>
    <li class="list-group-item"> Rating: {{id}}</li>
    <li class="list-group-item">Trail ID: {{comment.search_id}}</li>
    <li class="list-group-item">Comment: {{comment.comment}}</li>
  </ul>
</div>
{{/each}}
</div>