<div class="main row img-container overflow-auto" style="background-image: url({{trail_img}});">
{{!-- column that handles trail map --}}
    <div class="col-md-4">
      <div class="row mb-2 trail-map-row">
        <div class="col-md-12 trail-map" id="map" style="max-height: 350px; max-width: 350px;"></div>
      </div>
      <div class="row comment-link-container">
        <div class="col-md-12 comment-col info-container">
          <p class="create-comment-text">Have you blazed this trail?</p>
          <a id="create-comment" class="create-comment" href="/comment"> Click here </a> 
          <p class="create-comment-text">to leave a comment and tell everyone what you thought!</p>
        </div>
        
      </div>
    </div>
    <div class="col-md-8 trail-data">
    {{!-- columns that handle all trail details --}}
    <div class= "info-container">
          <h2 class="trail-name">{{trail_name}}</h2>
          <h3 class="park-name-state">{{park_name}} | {{state}}</h3>
          </div>
          <div class="info-container">
            <p class="trail-info trail-id">Trail ID: {{id}}</h3>
          </div>
          <div class="info-container">
            <p class="trail-info">Length of trail: {{trail_length}} miles</p>
          </div>
          <div class="info-container">
          
            <p class="trail-info">Difficulty ranking: {{difficulty}}</p>
          </div>
          <div class="info-container">
          
            <p class="trail-info">Elevation of trail: {{elevation_gain}} ft.</p>
          </div>
          <div class="info-container">
          
            <p class="trail-info">Fee cost: ${{fees}}</p>
          </div>
          <div class="info-container">
          
            <p class="trail-info">Pets allowed: {{pets_allowed}}</p>
          </div>
          </div>
          </div>


  {{!-- Row that contains all comment section information --}}
  {{!-- <div class="container container-fluid"> --}}

  <div class="container container-fluid comment-container overflow-auto mt-4">
    <h1 class="comment-header-text">Read What Your Fellow Trail Blazers Wrote About This Trail Below!</h1>
  
  {{#each comments as |comment|}}
    <div class="row mt-4 results-comments-container">
          <div class="col-md-12">
            <h2> {{comment.title}} | {{comment.id}} </h2>
            <p>
              {{!-- Make class "comment-info" small and in upper right corner of div --}}
              <span class="comment-info" for="timestamp" aria-label="timestamp">By: {{comment.user.name}} | {{comment.date_created}}</span>
              <span class="comment-rating">Rating: {{comment.rating}}</span>
            </p>
          </div>
        </div>
        <div class="row results-comments-container">
          <div class="col-md-12">
            <p> {{comment.comment}} </p>
          </div>
        </div>
    </div>
  {{else}}
  <div class="comment-container row mt-4">
    <h1 class="comment-header-text col-md-12">It doesn't look like this trail has any comments yet. Be the first to let the Trail Blazer community what you thought! <i class="fas fa-mountain"></i></h1>
  </div>
  {{/each}}
</div>




{{!-- OSM Maps CDN --}}
<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js"></script>

<script>
{{{ render_map id }}}

  var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>'

  // variable default layer to be shown on map first
  var defaultLayer = L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
      {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
      })

  defaultLayer.addTo(map);

  // Other tile layers for the user to chose from on the map
  var baselayers = {
    "Tile Layer 1": L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
      {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
      }),
    "Tile Layer 2": L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}@2x.{ext}', 
    {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors"',
      subdomains: 'abcd',
      minZoom: 0,
      maxZoom: 18,
      ext: 'png'
    })
  }

  var overlays = {};

  // set controls for switching between layers
  L.control.layers(baselayers, overlays).addTo(map);
  //add the baselayers to the map
  baseLayers["Tile Layer 1", "Tile Layer 2"].addTo(map);

</script>