<div class="main row img-container overflow-auto" style="background-image: url({{trail_img}});">
{{!-- column that handles trail map --}}
    <div class="col-md-4">
      <div class="row mb-2 trail-map-row">
        <div class="col-md-12 trail-map" id="map" style="max-height: 350px; max-width: 350px;"></div>
      </div>
      <div class="row comment-link-container">
        <div class="col-md-12 comment-col">
          <p class="create-comment-text">Have blazed this trail?</p>
          <a id="create-comment-link" class="create-comment" href="/comment"> Click here</a> 
          <p class="create-comment-text">to leave a tell everyone what you thought!</p>
        </div>
        
      </div>
    </div>
    <div class="col-md-8 trail-data">
    {{!-- columns that handle all trail details --}}
          <h2 class="trail-name">{{trail_name}}</h2>
          <h3 class="park-name-state">{{park_name}} | {{state}}</h3>
          <p class="trail-info trail-id">Trail ID: {{id}}</h3>
          <p class="trail-info">Length of trail: {{trail_length}} miles</p>
          <p class="trail-info">Difficulty ranking: {{difficulty}}</p>
          <p class="trail-info">Elevation of trail: {{elevation_gain}} ft.</p>
          <p class="trail-info">Fee cost: ${{fees}}</p>
          <p class="trail-info">Pets allowed: {{pets_allowed}}</p>
    </div>
</div>


  {{!-- Row that contains all comment section information --}}
  {{!-- <div class="container container-fluid"> --}}

  <div class="comment-container overflow-auto">
    <h1 class="comment-header-text">Read What Your Fellow Trail Blazers Wrote About This Trail Below!</h1>
  
  {{#each comments as |comment|}}
    <div class="row mt-4 results-comments-container">
          <div class="col-md-12">
            <h2> {{comment.title}} | {{comment.id}} </h2>
            <p>
              {{!-- Make class "comment-info" small and in upper right corner of div --}}
              <span class="comment-info" for="timestamp" aria-label="timestamp">By: {{comment.user.name}} | {{comment.date_created}}</span>
              <span class="comment-rating">Rating: {{comment.rating}}</span>
            </p>
          </div>
        </div>
        <div class="row results-comments-container">
          <div class="col-md-12">
            <p> {{comment.comment}} </p>
          </div>
        </div>
    </div>
  {{else}}
  <div class="comment-container overflow-auto">
    <h1 class="comment-header-text">It doesn't look like this trail has any comments yet. Be the first to let the Trail Blazer community what you thought! <i class="fas fa-mountain"></i></h1>
  </div>
  {{/each}}
</div>




{{!-- OSM Maps CDN --}}
<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js"></script>

{{{ render_map id }}}