<div class="main row img-container" style="background-image: url({{trail_img}});">
{{!-- column that handles trail map --}}
    <div class="col-md-4">
      <div class="row trail-map-row">
        <div class="col-md-12 trail-map" id="map" style="max-height: 350px; max-width: 750px;"></div>
      </div>
      <div class="row comment-link-container">
        <div class="col-md-12 comment-col">
          <a id="create-comment" class="create-comment" href="/comment">Have questions or information about this trail? Click here to leave a comment!</a> 
        </div>
        
      </div>
    </div>
    <div class="col-md-8 trail-data">
    {{!-- columns that handle all trail details --}}
          <h2 class="trail-name">{{trail_name}}</h2>
          <h3 class="park-name-state">{{park_name}} | {{state}}</h3>
          <p class="trail-info trail-id">Trail ID: {{id}}</h3>
          <p class="trail-info">Length of trail: {{trail_length}} miles</p>
          <p class="trail-info">Difficulty ranking: {{difficulty}}</p>
          <p class="trail-info">Elevation of trail: {{elevation_gain}} ft.</p>
          <p class="trail-info">Fee cost: ${{fees}}</p>
          <p class="trail-info">Pets allowed: {{pets_allowed}}</p>
    </div>
</div>


    {{!-- Row that contains all comment section information --}}
    {{!-- <div class="container container-fluid"> --}}
    {{#each comments as |comment|}}
    <div class="row mb-4 comment-section">
      <div class="col-md-8">
        <h2> Comment ID: {{comment.id}} | {{comment.title}} </h2>
        <p>
          {{!-- Make class "comment-info" small and in upper right corner of div --}}
          <span class="comment-info" for="timestamp" aria-label="timestamp">By: {{user.name}} | {{comment.date_created}}</span>
          <span class="comment-rating">Rating: {{comment.rating}}</span>
        </p>
      </div>
      <div class="col-md-7">
        <p> {{comment.content}} </p>
      </div>
    </div>
    {{/each}}

{{!-- OSM Maps CDN --}}
<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js"></script>

{{{ render_map id }}}