{{!-- ****** Do we want to put this carosel in the result section? Or put it on the home page? --}}

{{!-- <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://w.wallhaven.cc/full/5d/wallhaven-5dlm78.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> <a href="#" class="btn btn-primary">DIRECTIONS</a>
      </div>
    </div>
  </div>
</div> --}}

{{!-- Row that handles trail/park name --}}
<div class="row mb-4 trail-name">
  <div class="col-md-12">
    <h1>{{search.trail_name}}</h1>
    <h3>{{search.park_name}}</h3>
  </div>
</div>

{{!-- Row/columns that handle all trail images and details  --}}
<div class="row mb-4 result-section">
  <div class="col-md-4 trail-map">
    <img src="{{search.trail_map}}" style="max-width: 500px; max-height: 500px">
  </div>
  <div class="col-md-4 trail-img">
    <img src="{{search.trail_img}}" style="max-width: 500px; max-height: 500px">
  </div>
  <div class="col-md-4 trail-info">
    <p class="trail-state">{{search.state}}</p>
    <p class="trail-info">{{search.trail_length}}</p>
    <p class="trail-info">{{search.elevation_gain}}</p>
    <p class="trail-info">{{search.difficulty}}</p>
    <p class="trail-info">{{search.fees}}</p>
    <p class="trail-info">{{search.pets_allowed}}</p>
  </div>
</div>

{{!-- Row that contains all comment section information --}}
{{#each comments as |comment|}}
    <div class="row mb-4 comment-section">
        <div class="col-md-8">
            <h2>
            <a href="/thread/{{comment.id}}">{{comment.title}}</a>
            </h2>
            <p>
            {{!-- Make class "comment-info" small and in upper right corner of div --}}
            <span class="comment-info" for="timestamp" aria-label="timestamp">By: {{comment.user.name}} | {{comment.date_created}}</span>
            </p>
        </div>
        <div class="col-md-7">
            <p>
            {{comment.content}}
            </p>
            {{!-- <button id="edit-btn" class="btn btn-primary">Edit comment</button> --}}
        </div>
    </div>
{{/each}}

{{!-- Row that contains 'post new comment' section --}}
<div class="row mb-4 comment">
  <div class="col-md-6">
      <a id="create-comment" class="create-comment" href="/create">Have questions or information about this trail? Click here to leave a comment!</a> 
  </div>
</div>

<script src="/js/results.js"></script
